<footer>
    <nav>
        <a href="../about">About</a> ∙
        <a href="../contact">Contact</a> ∙
        <a href=""><img src="/images/instagram.png" width="20" height="20" alt="Instagram"></a> ∙
        <a href=""><img src="/images/twitter.png" width="20" height="20" alt="Twitter"></a>
    </nav>
    <p>© Console Clash | Page built by MC Solutions </p>
</footer>
</body>

</html>