<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/styles/default.css" rel="stylesheet" type="text/css">
    <title>Console Clash</title>
</head>

<body>
    <nav class="align-right">
        <a href="/connections/new">Start a New Connection</a> ∙
        <a href='/users/new'>Sign Up</a> ∙
        <a href='/users/login'>Login</a> ∙
        <a href='/users/profile'>Profile</a> ∙
        <a href='/users/logout'>Logout</a>
    </nav>
    <header>
        <figure>
            <a href="/"><img src="/images/logo.png" width="400" height="120" alt="Console Clash Logo"></a>
        </figure>
    </header>
    <nav>
        <a href="/connections">Connections</a>
        <br><br>
    </nav>

    <%if(errorMessages.length> 0){
        errorMessages.forEach(message => {%>
        <div class='error'>
            <%=message%>
        </div>
        <% }); } %>

            <%if(successMessages.length> 0){
                successMessages.forEach(message => {%>
                <div class='success'>
                    <%=message%>
                </div>
                <% }); } %>