<%- include('./partials/header.ejs')%>
    <main>
        <h3>About us</h3>
        <p>Founded earlier this year, Console Clash aims to help people find a local gaming community. No matter the
            genre,
            platform, or competive level, Console Clash the new go-to hub for your gaming needs. Sign up for an existing
            event or even host one of your own!</p>
    </main>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include('./partials/footer.ejs')%>