<%- include('./partials/header.ejs')%>
    <main>
        <h3>Contact us</h3>
        <p><b>Phone:</b> 1(800)-CONSOLE</p>
        <p><b>Email:</b> booking@consoleclash.com</p>
        <p><b>Office:</b> 9201 University City Blvd. Charlotte, NC 28223</p>
    </main>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include('./partials/footer.ejs')%>