<%- include('../partials/header.ejs')%>
    <main>
        <h2>Welcome, <%=user.firstName + " " + user.lastName%>
        </h2>
    </main>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include('../partials/footer.ejs')%>