<%- include('../partials/header.ejs')%>
    <link href="/styles/newConnection.css" rel="stylesheet" type="text/css">
    <main>
        <h1>New Connection</h1>
        <form action="/connections" method='POST'>
            <label>Game Type:
                <select name="topic" required>
                    <option value="Sports">Sports</option>
                    <option value="Racing">Racing</option>
                </select>
            </label><br>
            <label>Title: <input type="text" name="title" size="20" required></label><br>
            <label>Details: <br><textarea name="details" cols="23" rows="4" required></textarea></label><br>
            <label>Location: <input type="text" name="location" size="16" required></label><br>
            <label>Date: <input type="date" name="date" required></label><br>
            <label>Start Time: <input type="time" name="startTime" required></label><br>
            <label>End Time: <input type="time" name="endTime" required></label><br>
            <label>Image URL: <input type="text" name="image" size="13" required></label><br><br>
            <input type="submit" value="Create" class="button">
        </form>
    </main>
    <br><br><br><br><br><br><br><br>
    <%- include('../partials/footer.ejs')%>